node_modules/
build/
.gradle/
.cxx/
.kotlin/
*.apk
*.jks
*.pass
local.properties
framework-stubs.jar
apps/launchme/android/
device/maton/pc_x86_64/prebuilt/
device/maton/pc_x86_64/apps/apks/
device/maton/pc_x86_64/buildinfra/apps-built/
device/maton/pc_x86_64/buildinfra/native-built/
device/maton/pc_x86_64/bootanim/out/
device/maton/pc_x86_64/bootwatch/out/
device/maton/pc_x86_64/tools/payload/
device/maton/pc_x86_64/audio/native-hal/deps/
