service matonos-bluetooth /odm/bin/matonos-bluetooth-service
    class hal
    setenv LD_LIBRARY_PATH /odm/lib64
    user bluetooth
    group bluetooth
    capabilities BLOCK_SUSPEND NET_ADMIN SYS_NICE
    task_profiles HighPerformance
    disabled

on property:vendor.maton.bluetooth.available=1
    start matonos-bluetooth

on property:vendor.maton.bluetooth.available=0
    stop matonos-bluetooth
