<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.matonos.systembridge">
    <permission
        android:name="org.matonos.permission.SYSTEM_BRIDGE"
        android:protectionLevel="signature|privileged|development" />
    <uses-permission android:name="android.permission.GRANT_RUNTIME_PERMISSIONS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MANAGE_APP_OPS_MODES" />
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <uses-permission android:name="android.permission.REMOVE_TASKS" />
    <application
        android:label="MatonOS System Bridge"
        android:persistent="true"
        android:allowBackup="false">
        <service
            android:name=".SystemBridgeService"
            android:exported="true"
            android:permission="org.matonos.permission.SYSTEM_BRIDGE">
            <intent-filter>
                <action android:name="org.matonos.systembridge.BIND" />
            </intent-filter>
        </service>
        <receiver android:name=".BridgeBootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_SWITCHED" />
            </intent-filter>
        </receiver>
        <activity android:name=".SystemBridgeService$TrustedAppsActivity" android:exported="true">
            <intent-filter><action android:name="org.matonos.systembridge.TRUST_SETTINGS" /></intent-filter>
        </activity>
        <provider android:name=".SystemBridgeService$ShellProvider"
            android:authorities="org.matonos.systembridge.shell"
            android:exported="true" android:grantUriPermissions="false" />
    </application>
</manifest>
