service vendor.audio-hal-aidl /odm/bin/hw/matonos-audio-hal
    class hal
    user audio
    group audio camera media
    capabilities BLOCK_SUSPEND SYS_NICE
    rlimit rtprio 10 10
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    override
    onrestart restart audioserver
